/* ============================================= */
/*               Image Styles                    */
/* ============================================= */

img {
	border-radius: 5%;
	opacity: 0.8;
	transition: 0.5s;
	&:hover {
		opacity: 1;
	}
}
