/* ============================================= */
/*                   Typography                  */
/* ============================================= */

h1 {
	font-size: 4em;
	font-family: 'Lobster Two', cursive;
	font-style: italic;
	letter-spacing: initial;
}
